<!DOCTYPE HTML>
<html ng-app="songAppWeb">
<head ng-controller="titleController">
<title >{{title}} :: Home</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<link href='http://fonts.googleapis.com/css?family=Julius+Sans+One' rel='stylesheet' type='text/css'>

<!-- Angular : Start -->
<script src="https://code.jquery.com/jquery-2.1.4.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.js"></script>
<script type="text/javascript" src="Controllers/homeController.js"></script>
<script type="text/javascript" src="Scripts/config.js"></script>
<script type="text/javascript" src="Services/homeService.js"></script>
<script type="text/javascript" src="Filter/homeFilter.js"></script>
<!-- Angular : End -->

<!--slider-->
<script type="text/javascript" src="js/modernizr.custom.53451.js"></script>
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/loadingPanel.js"></script>
<script type="text/javascript" src="js/jquery.blockUI.js"></script>
		<script type="text/javascript" src="js/jquery.gallery.js"></script>
		<script type="text/javascript">
			$(function() {
				$('#dg-container').gallery({
					autoplay	:	true
				});
			});
		</script>
</head>
<body>
<script> showLoadingPanel(); </script>
<div class="menu-bg" ng-controller="menuController">
<div class="wrap">
	<div class="menu">
    	<ul class="nav" >
           	<li ng-repeat="Menu in MenuItems">
           		<a href="/{{Menu.menu_url}}">{{Menu.menu_name}}</a>
           	</li>
        </ul>
	</div>
	<div class="soc-icons">
		<ul>
			<li><a href="">Get In Touch&nbsp;</a></li>
			<li><a href=""><img src="images/facebook.png" alt="" /></a></li>
			<li><a href=""><img src="images/twitter.png" alt="" /></a></li>
			<li><a href=""><img src="images/gplus.png" alt="" /></a></li>
		</ul>
	</div>
	<div class="clear"></div>
</div>
</div>
<div class="header-bg">
<div class="wrap">
<div class="header">
	<div class="logo">
		<a href="index.html"><img src="images/logo.png" alt="" title="logo"></a>
	</div>
	<div class="shopping_cart">
		<div class="cart">
			<a href="#" title="View my shopping cart" rel="nofollow">
				<strong class="opencart"> </strong>
				<span class="cart_title">Cart</span>
				<span class="no_product">(empty)</span>
			</a>
		</div>
	</div>
	<div class="foot-search">
			<form>
				<input type="text" value="keyword here" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'keyword here';}">
				<input type="submit" value="Search">
			  </form>
		  </div>
   <div class="clear"></div>
</div>
</div>
</div>
<div class="slider-bg">
<div class="wrap">
<div class="container">
	<section id="dg-container" class="dg-container">
			<div class="dg-wrapper">
					<a href="#"><img src="images/1.jpg" alt="image1" /></a>
					<a href="#"><img src="images/2.jpg" alt="image2" /></a>
					<a href="#"><img src="images/3.jpg" alt="image3" /></a>
					<a href="#"><img src="images/4.jpg" alt="image4" /></a>
					<a href="#"><img src="images/5.jpg" alt="image5" /></a>
					<a href="#"><img src="images/6.jpg" alt="image1" /></a>
					<a href="#"><img src="images/7.jpg" alt="image2" /></a>
					<a href="#"><img src="images/8.jpg" alt="image3" /></a>
					<a href="#"><img src="images/9.jpg" alt="image4" /></a>
					<a href="#"><img src="images/10.jpg" alt="image5" /></a>
					<a href="#"><img src="images/11.jpg" alt="image1" /></a>
					<a href="#"><img src="images/12.jpg" alt="image2" /></a>
					<a href="#"><img src="images/13.jpg" alt="image3" /></a>
			</div>
	</section>
</div>
</div>	
</div>
<div class="content-bg">
<div class="wrap">
<div class="main">
<div class="content" ng-controller="albumController">
	<h2>Featured Albums</h2>
			<div class="section group">

				<div>
					<select id="filterByDate" ng-model="filterByDate">
						<option value="">Filter By Date</option>
						<option value="Between 1 month">Between 1 month</option>
						<option value="Between 3 month">Between 3 month</option>
						<option value="Between 6 month">Between 6 month</option>
						<option value="Between 1 year">Between 1 year</option>
						<option value="more than 1 year">&gt; 1 year old</option>
					</select>
					<select id="filterBySingerName" ng-model="filterBySingerName" data-ng-options="singer as singer.name for singer in Singers track by singer.singer_id">
						<option value="">Filter By Singer</option>
					</select>
					<select id="sortData" ng-model="sortData">
						<option value="">Select Option to Sort</option>
						<option value="song_name">By Name (Ascending)</option>
						<option value="-song_name">By Name (Descending)</option>
					</select>
				</div>

				<div  class="grid_1_of_3 images_1_of_3" ng-repeat="album in Albums | filterByDate:filterByDate | filterBySingerName:filterBySingerName | orderBy:sortData" >
					 <a href="details/get.html?song={{album.song_name}}"><img src="{{baseUrl}}/get-album-images/{{album.cover_photo_name}}" alt="" /></a>
					 <a href="details/get.html?song={{album.song_name}}"><h3>{{album.song_name}}</h3></a>
				     <span class="price"><sup>$32.88</sup><sub>pm</sub></span>
				     <div class="btn">
				     	<a href="details/get.html?song={{album.song_name}}">More Info</a>
				     </div>
				</div>
				<!--<a ng-show="" class="ng-cloak" ng-click="loadMoreAlbums()" href="">Load More</a>-->


			</div>
			<h2 class="bg">Our Specials</h2>
			<div class="section group">
				<div class="grid_1_of_3 images_1_of_3">
					 <a href="details/get.html"><img src="images/pic5.jpg" alt="" /></a>
					 <a href="details/get.html"><h3>Lorem Ipsum</h3></a>
					<span class="price"><sup>$12.31</sup><sub>pm</sub></span>
				     <div class="btn">
				     	<a href="details/get.html">Download</a>
				     </div>
				</div>
				<div class="grid_1_of_3 images_1_of_3">
					  <a href="details/get.html"><img src="images/pic6.jpg" alt="" /></a>
					  <a href="details/get.html"><h3>Lorem Ipsum</h3></a>
					<span class="price"><sup>$69.66</sup><sub>pm</sub></span>
			        <div class="btn">
				     	<a href="details/get.html">Download</a>
				     </div>
				</div>
				<div class="grid_1_of_3 images_1_of_3">
					 <a href="details/get.html"><img src="images/pic7.jpg" alt="" /></a>
					  <a href="details/get.html"><h3>Lorem Ipsum</h3></a>
					 <span class="price"><sup>$31.21</sup><sub>pm</sub></span>
			       <div class="btn">
				     	<a href="details/get.html">Download</a>
				     </div>
				</div>
				<div class="grid_1_of_3 images_1_of_3">
					  <a href="details/get.html"><img src="images/pic8.jpg" alt=""/></a>
					  <a href="details/get.html"><h3>Lorem Ipsum</h3></a>
					<span class="price"><sup>$69.66</sup><sub>pm</sub></span>
				        <div class="btn">
				     	<a href="details/get.html">Download</a>
				     </div>
				</div>
				<div class="grid_1_of_3 images_1_of_3">
					  <a href="details/get.html"><img src="images/pic4.jpg"alt=""/></a>
					  <a href="details/get.html"><h3>Lorem Ipsum</h3></a>
					  <span class="price"><sup>$69.66</sup><sub>pm</sub></span>
				      <div class="btn">
				     	<a href="">Download</a>
				     </div>
				</div>	
			</div>
</div>
<div class="sidebar">
<div class="sidebar-list">
	<h2>Categories</h2>
		<ul>
			<li><a href="#">Nulla commodo quam nec tortor </a></li>
			<li><a href="#">Quisque lobortis felis eget luctus</a></li>
			<li><a href="#">Proin sagittis lorem ac quam aucto</a></li>
			<li><a href="#">Nulla commodo quam nec tortor </a></li>
			<li><a href="#">Quisque lobortis felis eget luctus</a></li>
			<li><a href="#">Quisque lobortis felis eget luctus</a></li>
			<li><a href="#">Proin sagittis lorem ac quam aucto</a></li>
			<li><a href="#">Nulla commodo quam nec tortor </a></li>
			<li><a href="#">Quisque lobortis felis eget luctus</a></li>
			<li><a href="#">Quisque lobortis felis eget luctus</a></li>
			<li><a href="#">Proin sagittis lorem ac quam aucto</a></li>
			<li><a href="#">Proin sagittis lorem ac quam aucto</a></li>
			<li><a href="#">Nulla commodo quam nec tortor </a></li>
			<li><a href="#">Quisque lobortis felis eget luctus</a></li>
		</ul>
</div>
</div>
<div class="clear"></div>
</div>
</div>
</div>
<div class="footer-bg">
<div class="wrap">
<div class="footer">
	<div class="section group">
			<div class="grid_1_of_4 images_1_of_4">
				<h3>About Us</h3>
				<p>Sed bibendum suscipit posuere fringilla sagittis auctor fringilla sagittis auctor. Phasellus nulla est, rhoncus non ultrices eu, lacinia ut est. Donec sodales viverra elit. Ut a malesuada diam. Suspendisse fringilla sagittis auctor. Mauris aliquam suscipit .</p>
			</div>
			<div class="grid_1_of_4 images_1_of_4">
				<h3>News Letter</h3>
				<p>Sed Suspendisse fringilla sagittis auctor fringilla sagittis auctor fringilla sagittis auctor. Mauris aliquam suscipit adipiscing. Pellentesque adipiscing ultrices fringilla. Maecenas semper neque nec nulla  varius ultrices. Aenean rhoncus enim nec justo.</p>
			</div>
			<div class="grid_1_of_4 images_1_of_4">
					<h3>Recent Posts</h3>
				     <ul class="f-nav">
						<li><a href=""><img src="images/facebook.png" alt=""/>Facebook</a></li>
						<li><a href=""><img src="images/twitter.png" alt=""/>Twitter</a></li>
						<li><a href=""><img src="images/gplus.png" alt=""/>Google+</a></li>
					</ul>
			</div>
			<div class="grid_1_of_4 images_1_of_4">
				<h3>Latest Music</h3>
				 <p><a href=""><img src="images/art-pic1.jpg" alt=""/>Sed Suspendisse fringilla sagittis auctor. Mauris aliquam suscipit adipiscing. Pellentesque  ultrices.</a></p>
			 	 <p class="top"><a href=""><img src="images/art-pic2.jpg" alt=""/>Sed Suspendisse fringilla sagittis auctor. Mauris aliquam suscipit adipiscing. Pellentesque  ultrices.</a></p>
			</div>
	</div>
</div>
</div>
</div>
<div class="footer1-bg">
	<div class="wrap">
			<div class="copy">
			<p>© 2013 All rights Reserved | Design by &nbsp;<a href="http://w3layouts.com">W3Layouts</a></p>
			</div>	
	</div>
</div>
<script> hideLoadingPanel(); </script>
</body>
</html>