<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script src="https://code.jquery.com/jquery-2.1.4.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.js"></script>
<script type="text/javascript" src="Services/testService.js"></script>
<script type="text/javascript" src="Controllers/testController.js"></script>
    <script>
    $.getJSON('http://www.localhost:3003/emp', function(data){
    console.log(data);
});


  

    </script>
</head>
<body>
<div ng-app="crudModule" id="tblContainer" ng-controller="crudController">
<table ng-repeat="(key, value) in Employees">
	<tbody ng-repeat="Emp in value">
                            <tr >
                                <td> <span>{{Emp.EmployeeId}}</span></td>
                                <td> <span>{{Emp.FirstName}}</span></td>
                                <td> <span>{{Emp.LastName}}</span></td>
                            </tr>
                        </tbody></table>
</div>
</body>
</html>